*{
    margin: 0;
    padding: 0;
}

.login-page {
    background-color: #e3e3e3;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #fff;
}
.login-container {
    background: #ffffff;
    padding: 70px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    /* height: 60vh; */
}
/* added  response in login page */
@media (max-width: 600px) {
    .login-container{
        padding: 40px; 
        max-width: 90%; 
        border-radius: 40px;
        margin: 10px;
    }
    .sign-up-link p {
        font-size: 12px;
    }
    .sign-up-link a {
        font-size: 15px;
         white-space: nowrap; 
    }
    .input-box{
        max-width: 90%;
    }
     #submit{
        font-size: 18px;
    } 
    .forgot section label{
        font-size: 15px;
    }
    .forgot section a{
        font-size: 12px;
    } 
    .sign-up-link{
        justify-content: center;
        gap: 10px;
      }
    
}
.login-header {
    text-align: center;
    margin-bottom: 60px;

}

.login-header header {
    color: #333;
    font-size: 30px;
    font-weight: 600;
}

.input-box .input-field {
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 4px 15px rgba(41, 98, 255, 0.3);
    outline: none;
}
.input-field:active{
    transform: translateY(-2px);
    transition: all 0.1s ease;
}

::placeholder {
    font-weight: 400;
    color: #222;
}

.forgot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    font-size: 14px;
    color: #121212;
}
.forgot a {
    color: #5f59f7;
;
}

section {
    display: flex;
    align-items: center;
}

#check {
    margin-right: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section a {
    color: #555;
}

.input-submit {
    position: relative;
}

.submit-btn {
    width: 100%;
    height: 60px;
    background: linear-gradient(135deg, #8b5cf6, #6366f1);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
}

.submit-btn:hover {
    background: linear-gradient(135deg, #6366f1, #8b5cf6);
    transform: scale(1.03);
    transition: all 0.1s ease;
    font-size: 18px;
    color: #fff;
}
.submit-btn:active {
    transform: translateY(2px);
    transition: all 0.1s ease;
}

.input-submit label {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
input{
    font-size: 16px;
    box-shadow: 0 4px 15px rgba(41, 98, 255, 0.3);
}

#signupBtn {
    cursor: pointer;
}

.sign-up-link {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sign-up-link a {
    font-weight: 600;
}
/* signup page styling  */
h1{
    font-size: 30px;
    font-weight: 600;
    color: #414141;
    /* margin-top: 30px;     */
    position: absolute;
    top: 30px;
    left: 50%;      
    transform: translateX(-50%);
}
.signup-body{
    background-color: #f0f0f0;
}

.signup_page {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 70px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    /* height: 60vh; */
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
}   
#signupForm input {
    background-color: #fff;
    margin-top: 10px;
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 4px 15px rgba(41, 98, 255, 0.3);
    outline: none;
}

#signupForm input:active {
    transform: translateY(-2px);
    transition: all 0.1s ease;
}

label {
    padding: 1px;
    font-size: 20px;
    margin: 10px;
    color: #313131;
}

::placeholder {
    font-weight: 400;
    color: #9a9999;
}

p {
    font-size: 15px;
    color: #313131;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
    .signup_page {
        padding: 40px;
        border-radius: 30px;
    }
    h1 {
        font-size: 24px;
    }
    label {
        font-size: 18px;
    }
}