<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login |Student Query Portal!</title>
  <link rel="stylesheet" href="css/forms.css" />
</head>
<body>
  <div class="login-page">
    <div class="login-container">
      <div class="login-header">
      <header><i>Log In</i> 👤</header>
    </div>
    <form action="/login" method="post">
    <div class="input-box">
      <input type="email" name="email" class="input-field" placeholder="Email" required />
      
      <input type="password" name="password" class="input-field" placeholder="Password" required />
    </div>

    <div class="forgot">
      <section>
        <input type="checkbox" id="check" />
        <label for="check">Remember me</label>
      </section>
      <section>
        <a href="#">Forgot password 🗲</a>
      </section>
    </div>

    <div class="input-submit">
      <button class="submit-btn" id="submit">Sign In ❄️</button>
    </div>
    </form>

    <div class="sign-up-link">
      <p>Don't have an account? </p><a href="/signup">Sign Up</a>
    </div>
    </div>
  </div>
  <script src="auth.js"></script>
  <script src="theme.js"></script>
  <!-- <script src="app.js"></script> -->

</body>
</html>
